.Accordion {
    border: 1px solid #ccc ;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden; }

.Accordion__header {
    background: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 100%;
    color: rgba(0,0,0,.6);
    font-weight: 700;
    border: none;
    cursor: pointer;

}
.Accordion__header:after {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    right: 15px;
    background: url("../images/arrow-row-expand-down-ico-white.svg") no-repeat;
    transform: rotate(180deg);
    transition: transform 0.3s; }

.Accordion__header--collapsed:after {
    transform: rotate(0deg); }

.Accordion__body {
    color:rgba(0, 0, 0, 0.5);
    height: auto;
    opacity: 1;
    overflow-y: hidden;
    overflow-x: auto;
    transition: all 0.2s;
    padding: 0px 20px 20px 20px; }

.Accordion__body--collapsed {
    height: 0;
    opacity: 0;
    padding: 0 70px;
    transition: all 0.2s; }
