@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap"); */

/* .lexend-mega {
	font-family: "Lexend Mega", sans-serif;
} */

.d-blue {
	color: #000d51;
}
#menu-toggle:checked + #menu {
	display: block;
}

html,
body {
	overflow-x: hidden;
	width: 100%;
	
}
.DomainChecker {
	background-image: url(https://ik.imagekit.io/softylus/right_bg_u4aW776ey.png),
		url(https://ik.imagekit.io/softylus/left_bg_t8PQpBhTc.png);
	background-position: right top, left bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: 6% 60%;
}
@media screen and (max-width: 767px) {
	.DomainChecker {
		background-size: 15% 40%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.DomainChecker {
		background-size: 10% 60%;
	}
	.sc-bxivhb {
		width: 60% !important;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.DomainChecker {
		background-size: 8% 60%;
	}
}
.InfiniteCarouselDots {
	transform: translatey(-95%) !important;
}
.InfiniteCarouselArrow,
.InfiniteCarouselDot:focus {
	outline: none !important;
}
.planBox:hover .save {
	background-color: #1d4ed8 !important;
}
.planBox:hover .btn {
	background-color: #1d4ed8 !important;
	border-color: #1d4ed8 !important;
	color: #ffffff !important;
}
.btnSelect {
	margin: 8% 18.5% 0% 18.5%;
}
/* CHECKBOX TOGGLE SWITCH */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	input[type="checkbox"].switch {
		--active: #000;
		--active-inner: #fff;
		--focus: 2px rgba(0, 0, 0, 0.3);
		--border: #fff;
		--border-hover: #00000070;
		--background: #000;
		-webkit-appearance: none;
		-moz-appearance: none;
		height: 30px;
		color: #000 !important;
		outline: none;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
		cursor: pointer;
		border: 1px solid var(--bc, var(--border));
		background: var(--b, var(--background));
		transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
		appearance: none !important;
		box-sizing: inherit;
	}
	input[type="checkbox"].switch:after {
		content: "" !important;
		display: block;
		left: 0;
		top: 0;
		position: absolute;
		transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
			opacity var(--d-o, 0.2s);
		box-sizing: inherit;
	}
	input[type="checkbox"].switch:checked {
		background-image: none !important;
		--b: var(--active);
		--bc: var(--active);
		--d-o: 0.3s;
		--d-t: 0.6s;
		--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
	}
	input[type="checkbox"].switch:hover:not(:checked):not(:disabled) {
		--bc: var(--border-hover);
	}
	input[type="checkbox"].switch:focus {
		box-shadow: 0 0 0 var(--focus);
	}
	input[type=checkbox].switch /*+ label*/ {
		font-size: 14px;
		line-height: 21px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		margin-left: 4px;
	}
	input[type="checkbox"].switch {
		width: 60px;
		border-radius: 22px;
	}
	input[type="checkbox"].switch:after {
		left: 5px;
		top: 5px;
		border-radius: 50%;
		width: 18px;
		height: 18px;
		background: var(--ab, var(--border));
		transform: translateX(var(--x, 0));
		box-sizing: inherit;
	}
	input[type="checkbox"].switch:checked {
		--ab: var(--active-inner);
		--x: 30px;
	}
}
/*end switch*/
.Epic {
	background: url("https://ik.imagekit.io/gjojptnaqxc/epic_nD-9je3zn.png")
		no-repeat;
	background-size: cover;
}
.outline-0 {
	outline: none;
}
select:focus {
	--tw-ring-color: #cdcdcd !important;
	border-color: #cdcdcd !important;
}
.scrolling {
	overflow-y: scroll;
	height: 500px;
	width: 250px;
}
#scrolling::-webkit-scrollbar-track {
	background-color: transparent;
}

#scrolling::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}

#scrolling::-webkit-scrollbar-thumb {
	border-radius: 999px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #ebebeb;
}
.RRT__panel {
	border: none !important;
}
.RRT__tab {
	background: transparent !important;
	border-width: 0px 0px 4px 0px !important;
	font-weight: bold;
	padding: 0.7em 2.3em !important;
}
.RRT__tabs {
	justify-content: center;
}
.RRT__tab--selected {
	border-color: #000000 !important;
}
.slider a.previousButton {
	left: -10px !important;
}
.slider a.nextButton {
	right: -10px !important;
}
.RRT__accordion .RRT__tab {
	text-align: center;
}
.InfiniteCarouselSlide {
	white-space: normal !important;
	width: auto !important;
}
@media screen and (max-width: 740px) {
	.InfiniteCarouselFrame {
		width: 112% !important;
	}
	.sc-bxivhb {
		width: 100% !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 888px) {
	.DomainChecker {
		background-size: 10% 60%;
	}
	.sc-bxivhb {
		width: 60% !important;
	}
}
@media screen and (min-width: 889px) and (max-width: 1111px) {
	.sc-bxivhb.evFjEp {
		width: 42%;
	}
}
button:focus {
	outline: none !important;
}
.scrollingReviews{
    overflow-y: scroll;
    height: 100px;
}
#scrollingReviews::-webkit-scrollbar-track
{
    background-color: transparent;
}

#scrollingReviews::-webkit-scrollbar
{
    width: 3px;
    background-color: transparent;
}

#scrollingReviews::-webkit-scrollbar-thumb
{
    border-radius: 999px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #EBEBEB;
}